dist/index.html
<!DOCTYPE html><html lang="en"><head><meta charset="utf-8"><meta http-equiv="x-ua-compatible" content="ie=edge"><title>Old Instagram Pictures</title><meta name="viewport" content="width=device-width,initial-scale=1"><link rel="apple-touch-icon" href="/favicon152.png"><style>body{font-size:1.2em;line-height:1.4;margin:0;font-family:system-ui,Ubuntu,"Segoe UI",BlinkMacSystemFont,Roboto,Oxygen,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif}header,footer{margin:0 auto;max-width:600px;text-align:center}a{text-decoration:none}a:hover{text-decoration:underline}footer{padding-top:.5em}footer small{color:#999}footer small a{color:#888}img{width:100%;height:auto;display:block;object-fit:cover}.image-group{margin:auto;margin-top:-40px;max-width:1000px;display:grid;grid-template-columns:repeat(8,1fr);grid-auto-rows:200px;grid-gap:9px;padding-bottom:50px}.image-group:first-child{margin-top:0}.hex{display:flex;position:relative;width:240px;height:265px;-webkit-clip-path:polygon(50% 0%,100% 25%,100% 75%,50% 100%,0% 75%,0% 25%);clip-path:polygon(50% 0%,100% 25%,100% 75%,50% 100%,0% 75%,0% 25%)}.hex:first-child{grid-row-start:1;grid-column:2/span 2}.hex:nth-child(2){grid-row-start:1;grid-column:4/span 2}.hex:nth-child(3){grid-row-start:1;grid-column:6/span 2}.hex:nth-child(4){grid-row-start:2;grid-column:1/span 2}.hex:nth-child(5){grid-row-start:2;grid-column:3/span 2}.hex:nth-child(6){grid-row-start:2;grid-column:5/span 2}.hex:nth-child(7){grid-row-start:2;grid-column:7/span 2}@media (min-width:1800px){.images{padding-top:50px}.image-group{padding-left:100px;max-width:1300px;grid-auto-rows:260px}}@media (max-width:1000px){.image-group{max-width:600px;grid-auto-rows:118px}.hex{width:144px;height:159px}}@media (max-width:600px){.image-group{max-width:400px;grid-auto-rows:76px}.hex{width:96px;height:106px}}@media (max-width:400px){.image-group{max-width:300px;grid-auto-rows:58px}.hex{width:72px;height:79.5px}}</style></head><body><header><h1><a href="/">Old Instagram Pictures</a></h1><p>These are the images from <a href="https://www.instagram.com/paulnechifor/">my old instagram account</a>. It was deleted for inactivity. My current account is <a href="https://www.instagram.com/paulrnechifor/">paulrnechifor</a>.</p></header><div class="images"><div class="image-group"><a class="hex" href="images/IMG_20120707_120022.jpg"><img alt="Old Instagram Image 1" src="images/IMG_20120707_120022.thumb.jpg"></a><a class="hex" href="images/IMG_20120707_121013.jpg"><img alt="Old Instagram Image 2" src="images/IMG_20120707_121013.thumb.jpg"></a><a class="hex" href="images/IMG_20120707_121413.jpg"><img alt="Old Instagram Image 3" src="images/IMG_20120707_121413.thumb.jpg"></a><a class="hex" href="images/IMG_20120707_121940.jpg"><img alt="Old Instagram Image 4" src="images/IMG_20120707_121940.thumb.jpg"></a><a class="hex" href="images/IMG_20120708_103900.jpg"><img alt="Old Instagram Image 5" src="images/IMG_20120708_103900.thumb.jpg"></a><a class="hex" href="images/IMG_20120708_111422.jpg"><img alt="Old Instagram Image 6" src="images/IMG_20120708_111422.thumb.jpg"></a><a class="hex" href="images/IMG_20120709_200750.jpg"><img alt="Old Instagram Image 7" src="images/IMG_20120709_200750.thumb.jpg"></a></div><div class="image-group"><a class="hex" href="images/IMG_20120709_223757.jpg"><img alt="Old Instagram Image 1" src="images/IMG_20120709_223757.thumb.jpg"></a><a class="hex" href="images/IMG_20120713_082655.jpg"><img alt="Old Instagram Image 2" src="images/IMG_20120713_082655.thumb.jpg"></a><a class="hex" href="images/IMG_20120713_105146.jpg"><img alt="Old Instagram Image 3" src="images/IMG_20120713_105146.thumb.jpg"></a><a class="hex" href="images/IMG_20120715_141441.jpg"><img alt="Old Instagram Image 4" src="images/IMG_20120715_141441.thumb.jpg"></a><a class="hex" href="images/IMG_20120717_100510.jpg"><img alt="Old Instagram Image 5" src="images/IMG_20120717_100510.thumb.jpg"></a><a class="hex" href="images/IMG_20120718_103229.jpg"><img alt="Old Instagram Image 6" src="images/IMG_20120718_103229.thumb.jpg"></a><a class="hex" href="images/IMG_20120719_180941.jpg"><img alt="Old Instagram Image 7" src="images/IMG_20120719_180941.thumb.jpg"></a></div><div class="image-group"><a class="hex" href="images/IMG_20120719_182512.jpg"><img alt="Old Instagram Image 1" src="images/IMG_20120719_182512.thumb.jpg"></a><a class="hex" href="images/IMG_20120719_184351.jpg"><img alt="Old Instagram Image 2" src="images/IMG_20120719_184351.thumb.jpg"></a><a class="hex" href="images/IMG_20120719_185853.jpg"><img alt="Old Instagram Image 3" src="images/IMG_20120719_185853.thumb.jpg"></a><a class="hex" href="images/IMG_20120721_143243.jpg"><img alt="Old Instagram Image 4" src="images/IMG_20120721_143243.thumb.jpg"></a><a class="hex" href="images/IMG_20120721_143710.jpg"><img alt="Old Instagram Image 5" src="images/IMG_20120721_143710.thumb.jpg"></a><a class="hex" href="images/IMG_20120721_155057.jpg"><img alt="Old Instagram Image 6" src="images/IMG_20120721_155057.thumb.jpg"></a><a class="hex" href="images/IMG_20120721_161536.jpg"><img alt="Old Instagram Image 7" src="images/IMG_20120721_161536.thumb.jpg"></a></div><div class="image-group"><a class="hex" href="images/IMG_20120722_101343.jpg"><img alt="Old Instagram Image 1" src="images/IMG_20120722_101343.thumb.jpg"></a><a class="hex" href="images/IMG_20120722_214319.jpg"><img alt="Old Instagram Image 2" src="images/IMG_20120722_214319.thumb.jpg"></a><a class="hex" href="images/IMG_20120723_090444.jpg"><img alt="Old Instagram Image 3" src="images/IMG_20120723_090444.thumb.jpg"></a><a class="hex" href="images/IMG_20120724_151528.jpg"><img alt="Old Instagram Image 4" src="images/IMG_20120724_151528.thumb.jpg"></a><a class="hex" href="images/IMG_20120725_182254.jpg"><img alt="Old Instagram Image 5" src="images/IMG_20120725_182254.thumb.jpg"></a><a class="hex" href="images/IMG_20120728_115936.jpg"><img alt="Old Instagram Image 6" src="images/IMG_20120728_115936.thumb.jpg"></a><a class="hex" href="images/IMG_20120809_150512.jpg"><img alt="Old Instagram Image 7" src="images/IMG_20120809_150512.thumb.jpg"></a></div><div class="image-group"><a class="hex" href="images/IMG_20120821_114332.jpg"><img alt="Old Instagram Image 1" src="images/IMG_20120821_114332.thumb.jpg"></a><a class="hex" href="images/IMG_20130507_135234.jpg"><img alt="Old Instagram Image 2" src="images/IMG_20130507_135234.thumb.jpg"></a><a class="hex" href="images/IMG_20130507_135352.jpg"><img alt="Old Instagram Image 3" src="images/IMG_20130507_135352.thumb.jpg"></a><a class="hex" href="images/IMG_20130729_193720.jpg"><img alt="Old Instagram Image 4" src="images/IMG_20130729_193720.thumb.jpg"></a><a class="hex" href="images/IMG_20130729_193842.jpg"><img alt="Old Instagram Image 5" src="images/IMG_20130729_193842.thumb.jpg"></a><a class="hex" href="images/IMG_20130731_200030.jpg"><img alt="Old Instagram Image 6" src="images/IMG_20130731_200030.thumb.jpg"></a><a class="hex" href="images/IMG_20130824_231751.jpg"><img alt="Old Instagram Image 7" src="images/IMG_20130824_231751.thumb.jpg"></a></div><div class="image-group"><a class="hex" href="images/IMG_20130824_232654.jpg"><img alt="Old Instagram Image 1" src="images/IMG_20130824_232654.thumb.jpg"></a><a class="hex" href="images/IMG_20130915_173031.jpg"><img alt="Old Instagram Image 2" src="images/IMG_20130915_173031.thumb.jpg"></a><a class="hex" href="images/IMG_20130915_210039.jpg"><img alt="Old Instagram Image 3" src="images/IMG_20130915_210039.thumb.jpg"></a><a class="hex" href="images/IMG_20130915_210509.jpg"><img alt="Old Instagram Image 4" src="images/IMG_20130915_210509.thumb.jpg"></a><a class="hex" href="images/IMG_20130925_225944.jpg"><img alt="Old Instagram Image 5" src="images/IMG_20130925_225944.thumb.jpg"></a><a class="hex" href="images/IMG_20130925_230526.jpg"><img alt="Old Instagram Image 6" src="images/IMG_20130925_230526.thumb.jpg"></a><a class="hex" href="images/IMG_20130929_170052.jpg"><img alt="Old Instagram Image 7" src="images/IMG_20130929_170052.thumb.jpg"></a></div><div class="image-group"><a class="hex" href="images/IMG_20130929_170313.jpg"><img alt="Old Instagram Image 1" src="images/IMG_20130929_170313.thumb.jpg"></a><a class="hex" href="images/IMG_20130929_170636.jpg"><img alt="Old Instagram Image 2" src="images/IMG_20130929_170636.thumb.jpg"></a><a class="hex" href="images/IMG_20130929_170833.jpg"><img alt="Old Instagram Image 3" src="images/IMG_20130929_170833.thumb.jpg"></a><a class="hex" href="images/IMG_20130929_170959.jpg"><img alt="Old Instagram Image 4" src="images/IMG_20130929_170959.thumb.jpg"></a><a class="hex" href="images/IMG_20130929_171359.jpg"><img alt="Old Instagram Image 5" src="images/IMG_20130929_171359.thumb.jpg"></a><a class="hex" href="images/IMG_20131003_000643.jpg"><img alt="Old Instagram Image 6" src="images/IMG_20131003_000643.thumb.jpg"></a><a class="hex" href="images/IMG_20131007_095500.jpg"><img alt="Old Instagram Image 7" src="images/IMG_20131007_095500.thumb.jpg"></a></div><div class="image-group"><a class="hex" href="images/IMG_20131010_181417.jpg"><img alt="Old Instagram Image 1" src="images/IMG_20131010_181417.thumb.jpg"></a><a class="hex" href="images/IMG_20131010_181811.jpg"><img alt="Old Instagram Image 2" src="images/IMG_20131010_181811.thumb.jpg"></a><a class="hex" href="images/IMG_20131011_195817.jpg"><img alt="Old Instagram Image 3" src="images/IMG_20131011_195817.thumb.jpg"></a><a class="hex" href="images/IMG_20131011_204212.jpg"><img alt="Old Instagram Image 4" src="images/IMG_20131011_204212.thumb.jpg"></a><a class="hex" href="images/IMG_20131011_204322.jpg"><img alt="Old Instagram Image 5" src="images/IMG_20131011_204322.thumb.jpg"></a><a class="hex" href="images/IMG_20131012_145219.jpg"><img alt="Old Instagram Image 6" src="images/IMG_20131012_145219.thumb.jpg"></a><a class="hex" href="images/IMG_20131012_145615.jpg"><img alt="Old Instagram Image 7" src="images/IMG_20131012_145615.thumb.jpg"></a></div><div class="image-group"><a class="hex" href="images/IMG_20131012_150357.jpg"><img alt="Old Instagram Image 1" src="images/IMG_20131012_150357.thumb.jpg"></a><a class="hex" href="images/IMG_20131013_165403.jpg"><img alt="Old Instagram Image 2" src="images/IMG_20131013_165403.thumb.jpg"></a><a class="hex" href="images/IMG_20131014_082827.jpg"><img alt="Old Instagram Image 3" src="images/IMG_20131014_082827.thumb.jpg"></a><a class="hex" href="images/IMG_20131014_145106.jpg"><img alt="Old Instagram Image 4" src="images/IMG_20131014_145106.thumb.jpg"></a><a class="hex" href="images/IMG_20131015_152002.jpg"><img alt="Old Instagram Image 5" src="images/IMG_20131015_152002.thumb.jpg"></a><a class="hex" href="images/IMG_20131016_100849.jpg"><img alt="Old Instagram Image 6" src="images/IMG_20131016_100849.thumb.jpg"></a><a class="hex" href="images/IMG_20131016_101307.jpg"><img alt="Old Instagram Image 7" src="images/IMG_20131016_101307.thumb.jpg"></a></div><div class="image-group"><a class="hex" href="images/IMG_20131018_014922.jpg"><img alt="Old Instagram Image 1" src="images/IMG_20131018_014922.thumb.jpg"></a><a class="hex" href="images/IMG_20131018_125054.jpg"><img alt="Old Instagram Image 2" src="images/IMG_20131018_125054.thumb.jpg"></a><a class="hex" href="images/IMG_20131018_135422.jpg"><img alt="Old Instagram Image 3" src="images/IMG_20131018_135422.thumb.jpg"></a><a class="hex" href="images/IMG_20131023_164258.jpg"><img alt="Old Instagram Image 4" src="images/IMG_20131023_164258.thumb.jpg"></a><a class="hex" href="images/IMG_20131023_164551.jpg"><img alt="Old Instagram Image 5" src="images/IMG_20131023_164551.thumb.jpg"></a><a class="hex" href="images/IMG_20131027_115429.jpg"><img alt="Old Instagram Image 6" src="images/IMG_20131027_115429.thumb.jpg"></a><a class="hex" href="images/IMG_20131029_012118.jpg"><img alt="Old Instagram Image 7" src="images/IMG_20131029_012118.thumb.jpg"></a></div><div class="image-group"></div></div><footer><p>Created by <a href="/">Paul Nechifor</a>. <a href="https://gitlab.com/paul-nechifor/old-instagram">View the Git source.</a></p><small><p><a href="/">Home</a> • <a href="/blog">Blog</a> • <a href="/projects">Projects</a></p></small></footer></body></html>

index.pug
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Old Instagram Pictures
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='/favicon152.png')

    style: :stylus(compress=true)
      body
        font-size 1.2em
        line-height 1.4
        margin 0
        font-family: system-ui, Ubuntu, "Segoe UI", BlinkMacSystemFont, Roboto, Oxygen, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
      header, footer
        margin 0 auto
        max-width 600px
        text-align center
      a
        text-decoration none
        &:hover
          text-decoration underline
      footer
        padding-top 0.5em
        small
          color #999
          a
            color #888
      img
        width 100%
        height auto
        display block
        object-fit cover
      .image-group
        margin auto
        margin-top -40px
        max-width 1000px
        display grid
        grid-template-columns repeat(8, 1fr)
        grid-auto-rows 200px
        grid-gap 9px
        padding-bottom 50px
        &:first-child
          margin-top 0
      .hex
        display flex
        position relative
        width 240px
        height 265px
        -webkit-clip-path polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%)
        clip-path polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%)

        &:first-child
          grid-row-start 1
          grid-column 2 / span 2
        &:nth-child(2)
          grid-row-start 1
          grid-column 4 / span 2
        &:nth-child(3)
          grid-row-start 1
          grid-column 6 / span 2
        &:nth-child(4)
          grid-row-start 2
          grid-column 1 / span 2
        &:nth-child(5)
          grid-row-start 2
          grid-column 3 / span 2
        &:nth-child(6)
          grid-row-start 2
          grid-column 5 / span 2
        &:nth-child(7)
          grid-row-start 2
          grid-column 7 / span 2

      @media (min-width: 1800px)
        .images
          padding-top 50px
        .image-group
          padding-left 100px
          max-width 1000px * 1.3
          grid-auto-rows 200px * 1.3

      @media (max-width: 1000px)
        .image-group
          max-width 1000px * 0.6
          grid-auto-rows 118px
        .hex
          width 240px * 0.6
          height 265px * 0.6

      @media (max-width: 600px)
        .image-group
          max-width 1000px * 0.4
          grid-auto-rows 76px
        .hex
          width 240px * 0.4
          height 265px * 0.4

      @media (max-width: 400px)
        .image-group
          max-width 1000px * 0.3
          grid-auto-rows 58px
        .hex
          width 240px * 0.3
          height 265px * 0.3

  body
    header: :markdown-it
      # [Old Instagram Pictures](/)

      These are the images from [my old instagram account][paulnechifor]. It was
      deleted for inactivity. My current account is
      [paulrnechifor][paulrnechifor].

      [paulnechifor]: https://www.instagram.com/paulnechifor/
      [paulrnechifor]: https://www.instagram.com/paulrnechifor/

    .images
      each images in imageGroups
        .image-group
          each image, i in images
            a.hex(href="images/" + image + ".jpg")
              img(
                alt="Old Instagram Image " + (i + 1)
                src="images/" + image + ".thumb.jpg"
                loading=i < 12 ? null : "lazy"
              )

    footer
      :markdown-it
        Created by [Paul Nechifor](/). [View the Git source.](https://gitlab.com/paul-nechifor/old-instagram)

      small: :markdown-it
        [Home](/) •
        [Blog](/blog) •
        [Projects](/projects)
